[submodule "material"]
	path = material
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/hexo-theme-material"]
	path = themes/hexo-theme-material
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/materials"]
	path = themes/materials
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/yscoder/hexo-theme-indigo.git
[submodule "themes/insude"]
	path = themes/insude
	url = https://github.com/ikeq/hexo-theme-inside.git
[submodule "themes/insudes"]
	path = themes/insudes
	url = https://github.com/karin722/insude.git
