@mixin code-style() {
  font-family: 'Fira Code', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-feature-settings: 'calt' 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  // white-space: nowrap;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  background: $color-background;
  transition: 0.2s ease;
  transition-property: box-shadow, transform;

  &:hover {
    box-shadow: 0 4px 15px $color-primary-light;
    transform: translateY(-4px);
  }
}

html[theme='dark'] {
  .card {
    &:hover {
      box-shadow: 0 4px 15px $color-background;
      transform: translateY(-4px);
    }
  }
}

@media (max-width: 500px) {
  html[theme='dark'] .card,
  .card {
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}
