.simple-archives {
  .title {
    .number {
      margin-left: 0.5em;
    }
  }

  .archives {
    .archive {
      .title {
        padding-left: 0.5em;
        color: $color-font-primary;
      }

      ul.posts {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;

        li {
          overflow: hidden;
          padding: 6px;

          a.post {
            display: block;
            padding: 10px 20px;

            &::before,
            &::after {
              content: none;
            }

            .post-title {
              margin-bottom: 4px;
              font-size: large;
              font-weight: bold;

              @include text-ellipsis();
            }
          }
        }

        @media (max-width: 500px) {
          flex-direction: column;

          li {
            width: 100%;
            margin: 6px 0;
            padding: 0;
          }
        }
      }
    }
  }
}
