a {
  position: relative;
  text-decoration: none;
  color: $color-font;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &[target='_blank'] {
    cursor: alias;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    border-bottom: 1px solid $color-gray;
  }

  &::after {
    left: 50%;
    width: 0%;
    border-bottom: 1px solid $color-font-primary;
    transition: width 0.2s ease-out;
    transform: translateX(-50%);
  }

  &.hover,
  &:hover {
    color: $color-font-primary;

    &::after {
      width: 100%;
    }
  }
}

html,
body,
div {
  scroll-behavior: smooth;
}

html,
body {
  background: $color-background-light;
}

body {
  font-family: 'Microsoft YaHei', 'Source Sans Pro', 'Helvetica Neue', Arial,
    sans-serif;
  color: $color-font;

  -webkit-font-smoothing: antialiased;
}

// font-awesome icon
.fa {
  margin: 0 3px;
}

.decoration-line {
  width: 100%;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid $color-primary-light;
}

// scroll bar
::-webkit-scrollbar {
  width: 5px;
  background-color: #cecece;
  border-radius: 10px;

  &:horizontal {
    height: 5px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10px;

  &:hover {
    background-color: #888888;
  }
}

img {
  user-select: none;
}
