@import './lib/normalize.css';
@import '../fonts/fonts.css';
@import './base.scss';
@import './mixin/common.scss';

@import './partial/article-tags.scss';
@import './pagination.scss';

@import './global.scss';
@import './index.scss';
@import './post.scss';
@import './navbar.scss';
@import './markdown.scss';
@import './footer.scss';
@import './tags.scss';
@import './archives.scss';
@import './message.scss';

body {
  margin: 0 auto;

  $nav-width: 220px;
  $nav-height: 60px;
  $page-nav-width: 200px;
  $simple-content-width: 900px;

  .simple-layout-content {
    margin: $nav-height + 10px auto 0;
    max-width: $simple-content-width;
    min-height: 500px;
    position: relative;
  }

  .simple-layout-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav-height;
    overflow: hidden;
    background-color: $color-background;

    z-index: 100;

    &.active {
      box-shadow: 0 0 3px $color-primary;
    }
  }

  #post-nav {
    background: $color-background;
    position: fixed;
    left: calc(50% + 460px);
    top: 70px;
    display: flex;
    width: $page-nav-width;
    font-size: smaller;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  .simple-mobile-nav {
    display: none;
  }

  @media (max-width: 1360px) {
    #post-nav {
      display: none;
    }
  }

  @media (max-width: 800px) {
    font-size: 12px;

    .simple-layout-content {
      padding: 0;
      margin-top: 60px;

      .simple-index {
        padding-top: 0;
      }
    }

    .simple-layout-nav {
      height: 50px;
    }
  }
}
