.simple-post {
  padding: 1px 50px 15px;
  background: $color-background;

  .post-meta {
    .meta {
      margin-right: 5px;
      font-size: 0.8em;
      padding: 2px 3px;
      margin-right: 3px;
      border-radius: 3px;
      background-color: $color-primary;
      color: $color-font-reverse;

      a {
        color: $color-font-reverse;
        border: none;

        &::before,
        &::after {
          content: none;
        }
      }
    }
  }

  .simple-tags {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;

      li {
        margin-right: 10px;

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .post-end {
    border-top: 1px dashed $color-gray;
  }

  .post-footer {
    display: flex;
    .post-license {
      flex: auto;
    }
  }

  @media (max-width: 500px) {
    padding: 1px 10px 10px;

    .post-footer {
      .post-license {
        display: none;
      }
    }
  }
}

#post-nav {
  ul {
    padding: 5px 10px 0;

    li {
      width: 180px;
      margin-bottom: 5px;
      overflow: hidden;
      line-height: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
